


.title{

    background: #fff;
    width: 100%;
    height: 80vh;
    font-size: 30px;
    color: black;

}


.display{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.btn-wrapper{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}